@charset "UTF-8";
/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgba(70, 201, 129, 0.466);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(0, 90, 41, 0.979);
}

h1#principal{
    text-align: center;
    background-color:  rgba(8, 114, 56, 0.651);
    color: white;
}

h2{
    color:  rgb(26, 136, 76);
}

.basico{
    color:  rgb(26, 136, 76);
    font-weight: bold;
}

.intermediario{
    color: rgb(134, 136, 26);
}

.avançado{
    color: rgb(136, 26, 26);
}