@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    
}
header>h1{
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section>p{
    font-size: 3.5vw;
    width: 40vw;
    line-height: 2em;
    text-align: left;
    padding-left: 30px;
    font-family: var(--fonte3);
}
section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(85, 85, 80);
    
}
.imagem>p{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;

    
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
